.moneyPay {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.moneyPay p {
    text-align: center
}

.MuiSnackbarContent-root {
    background-color: #d32f2f !important
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
}


#root {
    padding: 50px;
}
